<section class="content-header">
    <h1>
        待审批的决算
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
        <li class="active">待审批的决算</li>
    </ol>
</section>

<!-- Main content -->
<section class="content shoot-cost-approval-content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">项目概况</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">项目：</label>
                            <label class="control-label col-md-8 col-sm-8 col-xs-12 text-left">{{vm.project.name}}</label>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">项目编号：</label>
                            <label class="control-label col-md-8 col-sm-8 col-xs-12 text-left">{{vm.project.idNumber}}</label>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">合同/PO编号：</label>
                            <label class="control-label col-md-8 col-sm-8 col-xs-12 text-left">{{vm.project.contract.idNumber}}</label>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">客户名称：</label>
                            <label class="control-label col-md-8 col-sm-8 col-xs-12 text-left">{{vm.project.client.name}}</label>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">合同金额：</label>
                            <label class="control-label col-md-8 col-sm-8 col-xs-12 text-left">{{vm.project.contract.moneyAmount}}</label>
                        </div>
                    </form>
                </div>
                <div class="overlay" ng-if="vm.isLoading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>

            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">拍摄决算</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover ng-scope ng-table">
                        <thead>
                        <tr>
                            <th>类别一</th>
                            <th>类别二</th>
                            <th>名称</th>
                            <th>供应商</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>实际数量</th>
                            <th>天数</th>
                            <th>实际天数</th>
                            <th>实际花费</th>
                            <th>类别合计</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sc in vm.configItems">
                            <td rowspan="{{sc.c1rowspan}}" ng-if="sc.cat1 != undefined">
                                {{sc.cat1}}
                            </td>
                            <td rowspan="{{sc.c2rowspan}}" ng-if="sc.cat2 != undefined">
                                {{sc.cat2}}
                            </td>
                            <td>
                                {{sc.name}}
                            </td>
                            <td>
                                {{sc.vendor}}
                            </td>
                            <td>
                                {{sc.unitPrice}}
                            </td>
                            <td>
                                {{sc.amount}}
                            </td>
                            <td>
                                {{sc.actualAmount}}
                            </td>
                            <td>
                                {{sc.days}}
                            </td>
                            <td>
                                {{sc.actualDays}}
                            </td>
                            <td>
                                {{sc.actualCost}}
                            </td>
                            <td rowspan="{{sc.c2rowspan}}" ng-if="sc.cat2 != undefined">
                                {{sc.catCost}}
                            </td>
                        </tr>
                        <tr>
                            <th>合计</th>
                            <td colspan="10">{{vm.totalCost}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overlay" ng-if="vm.isLoading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div class="box-footer">
                    <p>审批人：</p>
                    <div ng-repeat="auditor in vm.auditors" class="approver">
                        <div data-ng-switch="auditor.approval.status.id" >
                            <div ng-switch-when="2" data-tootik-conf="right success" data-tootik="已通过">
                                <img http-src="resource/pictures/{{auditor.photo.id}}" alt="{{task.owner.name}}" class="img-circle">
                                <i class="fa fa-check-circle-o fa-2x image-tool-static" aria-hidden="true"></i>
                            </div>
                            <div ng-switch-when="3" data-tootik-conf="right danger multiline" data-tootik="已驳回，{{auditor.approval.result}}">
                                <img http-src="resource/pictures/{{auditor.photo.id}}" alt="{{task.owner.name}}" class="img-circle">
                                <i class="fa fa-times-circle-o fa-2x image-tool-static text-red" aria-hidden="true"></i>
                            </div>
                            <div ng-switch-default data-tootik-conf="right info" data-tootik="进行中">
                                <img http-src="resource/pictures/{{auditor.photo.id}}" alt="{{task.owner.name}}" class="img-circle">
                                <span>{{auditor.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-offset-4 col-sm-2 col-md-offset-4 col-md-2 col-xs-6">
                    <button type="submit" class="btn btn-primary btn-full" ng-click="vm.approve()" ng-disabled="vm.isLoading">通过</button>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-6">
                    <button type="submit" class="btn btn-danger btn-full" ng-click="vm.reject()" ng-disabled="vm.isLoading">驳回</button>
                </div>
            </div>
        </div>
    </div>
</section>
