<div>
    <h2 data-translate="yyOaApp.actor.home.title">Actors</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="actor.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="yyOaApp.actor.home.createLabel">
                        Create new Actor
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="yyOaApp.actor.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span data-translate="yyOaApp.actor.gender">Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthDate"><span data-translate="yyOaApp.actor.birthDate">Birth Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="height"><span data-translate="yyOaApp.actor.height">Height</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bust"><span data-translate="yyOaApp.actor.bust">Bust</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="waist"><span data-translate="yyOaApp.actor.waist">Waist</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hip"><span data-translate="yyOaApp.actor.hip">Hip</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tel"><span data-translate="yyOaApp.actor.tel">Tel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inputOperator"><span data-translate="yyOaApp.actor.inputOperator">Input Operator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inputTime"><span data-translate="yyOaApp.actor.inputTime">Input Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifier"><span data-translate="yyOaApp.actor.lastModifier">Last Modifier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedTime"><span data-translate="yyOaApp.actor.lastModifiedTime">Last Modified Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="age"><span data-translate="yyOaApp.actor.age">Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sourceName"><span data-translate="yyOaApp.actor.source">Source</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countryName"><span data-translate="yyOaApp.actor.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="actor in vm.actors track by actor.id">
                    <td><a ui-sref="actor-detail({id:actor.id})">{{actor.id}}</a></td>
                    <td>{{actor.name}}</td>
                    <td>{{actor.gender}}</td>
                    <td>{{actor.birthDate}}</td>
                    <td>{{actor.height}}</td>
                    <td>{{actor.bust}}</td>
                    <td>{{actor.waist}}</td>
                    <td>{{actor.hip}}</td>
                    <td>{{actor.tel}}</td>
                    <td>{{actor.inputOperator}}</td>
                    <td>{{actor.inputTime}}</td>
                    <td>{{actor.lastModifier}}</td>
                    <td>{{actor.lastModifiedTime}}</td>
                    <td>{{actor.age}}</td>
                    <td>
                        <a ui-sref="dictionary-detail({id:actor.sourceId})">{{actor.sourceName}}</a>
                    </td>
                    <td>
                        <a ui-sref="dictionary-detail({id:actor.countryId})">{{actor.countryName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="actor-detail({id:actor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="actor.edit({id:actor.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="actor.delete({id:actor.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
