<section class="content-header">
    <h1>
        {{vm.pageTitle}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> 主页</a></li>
        <li><a ui-sref="yy_contract_mgt">合同管理</a></li>
        <li class="active">{{vm.pageTitle}}</li>
    </ol>
</section>

<!-- Main content -->
<section class="content contract-edit-content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">合同信息</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" novalidate data-parsley-validate data-parsley-focus="none">

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_id_number">合同编号：</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" class="form-control" name="name" id="field_id_number"
                                       ng-model="vm.contract.idNumber" required="required"
                                       data-parsley-trigger="blur"
                                       ng-disabled="vm.disableEdit"
                                />
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_contract_level">合同级别：</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select class="form-control" ng-model="vm.contract.level.id" required="required" id="field_contract_level"
                                        ng-options="c.id as c.name for c in vm.contractLevelOptions"
                                        ng-disabled="vm.disableEdit">
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_amount">合同金额：</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="number" step="any" class="form-control" name="name" id="field_amount"
                                       ng-model="vm.contract.moneyAmount" required="required"
                                       data-parsley-trigger="blur" data-parsley-type="number" data-parsley-min="0.01"
                                       ng-disabled="vm.disableEdit"
                                />
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_info_cost">信息费：</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="number" step="any" class="form-control" name="name" id="field_info_cost"
                                       ng-model="vm.contract.infoCost" required="required"
                                       data-parsley-trigger="blur" data-parsley-type="number" data-parsley-min="0"
                                       ng-disabled="vm.disableEdit"
                                />
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_tax_rate">税率：</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="name" id="field_tax_rate"
                                           ng-model="vm.contract.taxRate" required="required"
                                           data-parsley-trigger="blur"
                                           ng-disabled="vm.disableEdit"
                                    />
                                    <div class="input-group-addon">
                                        <span>%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_tax">税金：</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" class="form-control" name="name" id="field_tax"
                                       ng-model="vm.contract.tax" disabled
                                />
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_sign_date">签约时间：</label>
                            <div class="col-md-8 col-sm-8 col-xs-12" id="sign_date_container">
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="field_sign_date"
                                           data-parsley-trigger="blur" ng-disabled="vm.disableEdit"
                                           required="required" data-parsley-errors-container="#sign_date_container"
                                    />
                                    <span class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="overlay" ng-if="vm.isLoading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>

            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">分期计划</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" novalidate data-parsley-validate>
                        <div class="col-sm-12" ng-repeat="itm in vm.contract.installments">
                            <div class="form-group col-md-1 col-sm-2 col-xs-12">
                                <label class="control-label text-aqua">第{{$index+1}}期</label>
                            </div>
                            <div class="form-group col-md-3 col-sm-3 col-xs-10">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_installment_{{$index}}">收款金额：</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control" id="field_installment_{{$index}}"
                                               ng-disabled="vm.disableEdit"
                                               required="required" data-parsley-trigger="blur" ng-model="itm.amount"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3 col-xs-10">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_installment_time_{{$index}}">收款时间：</label>
                                <div class="col-md-8 col-sm-8 col-xs-12" id="field_installment_time_{{$index}}_container">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control" id="field_installment_time_{{$index}}"
                                               ng-disabled="vm.disableEdit"
                                               required="required" data-parsley-errors-container="#field_installment_time_{{$index}}_container"
                                        />
                                        <span class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3 col-xs-10">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_paid_{{$index}}">已付金额：</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control" id="field_paid_{{$index}}"
                                               disabled value="{{itm.actualAmount}}"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3 col-xs-10">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="field_actual_time_{{$index}}">实际收款时间：</label>
                                <div class="col-md-7 col-sm-7 col-xs-10">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control" id="field_actual_time_{{$index}}"
                                               disabled value="{{itm.actualPayTime | yydate}}"
                                        />
                                    </div>
                                </div>
                                <div class="form-group col-md-1 col-sm-2 col-xs-2 p-t-sm" ng-if="!vm.disableEdit">
                                    <a ng-click="vm.deleteInstallment($index)" data-tootik="删除" ng-if="$index > 0 && itm.actualPayTime == undefined">
                                        <i class="icon glyphicon glyphicon-trash" ></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-if="!vm.disableEdit">
                            <div class="form-group col-sm-12">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <button class="btn btn-primary" ng-click="vm.addNewInstallment()">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span>新增分期</span>
                                    </button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-7">
                                    <label class="control-label bg-aqua pull-right">付款总额：{{vm.contract.moneyAmount}}</label>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="overlay" ng-if="vm.isLoading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>


            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">上传附件</h3>
                </div>
                <div class="box-body">
                    <div ng-repeat="info in vm.contract.attachments">
                        <div data-ng-switch="info.type" class="col-sm-12">
                            <a ng-switch-when="IMAGE" ng-click="vm.download(info)"><i class="fa fa-file-image-o"></i>{{info.originName}}</a>
                            <a ng-switch-default ng-click="vm.download(info)"><i class="fa fa-file-archive-o"></i>{{info.originName}}</a>
                            <a ng-click="vm.deleteAttachment($index)" data-tootik="删除" ng-if="!vm.disableEdit">
                                <i class="icon glyphicon glyphicon-trash" ></i></a>
                        </div>
                    </div>

                </div>
                <div class="overlay" ng-if="vm.isLoading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div class="box-footer">
                    <div class="p-w-lg" ng-if="!vm.disableEdit">
                        <label type="button" class="btn btn-primary file-uploader">
                            <i class="fa fa-upload"></i>
                            <input type="file" yy-file-change="vm.newFileSelected"/>
                            上传附件
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12" data-ng-switch="vm.disableEdit">
                <div ng-switch-when="false">
                    <div class="col-sm-offset-4 col-sm-2 col-md-offset-4 col-md-2 col-xs-6">
                        <button type="submit" class="btn btn-primary btn-full" ng-click="vm.save()">保存</button>
                    </div>
                    <div class="col-sm-2 col-md-2 col-xs-6">
                        <button type="submit" class="btn btn-primary btn-full" ng-click="vm.cancel()">取消</button>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="col-sm-offset-5 col-sm-2 col-md-offset-5 col-md-2 col-xs-offset-3 col-xs-6">
                        <button type="submit" class="btn btn-primary btn-full" ng-click="vm.cancel()">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-init="vm.initJsComponents()"></div>
