
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEquipmentLabel">Create or edit a Equipment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.equipment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.equipment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.equipment.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vendor">Vendor</label>
            <input type="text" class="form-control" name="vendor" id="field_vendor"
                    ng-model="vm.equipment.vendor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.equipment.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createTime">Create Time</label>
            <input type="number" class="form-control" name="createTime" id="field_createTime"
                    ng-model="vm.equipment.createTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_inputOperator">Input Operator</label>
            <input type="text" class="form-control" name="inputOperator" id="field_inputOperator"
                    ng-model="vm.equipment.inputOperator"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastModifiedTime">Last Modified Time</label>
            <input type="number" class="form-control" name="lastModifiedTime" id="field_lastModifiedTime"
                    ng-model="vm.equipment.lastModifiedTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastModifier">Last Modifier</label>
            <input type="text" class="form-control" name="lastModifier" id="field_lastModifier"
                    ng-model="vm.equipment.lastModifier"
                     />
        </div>

        <div class="form-group">
            <label for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.equipment.categoryId" ng-options="dictionary.id as dictionary.name for dictionary in vm.dictionaries"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
