<div>
    <h2>Equipment</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="equipment.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Equipment
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vendor"><span>Vendor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span>Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span>Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inputOperator"><span>Input Operator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedTime"><span>Last Modified Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifier"><span>Last Modifier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoryName"><span>Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="equipment in vm.equipment track by equipment.id">
                    <td><a ui-sref="equipment-detail({id:equipment.id})">{{equipment.id}}</a></td>
                    <td>{{equipment.name}}</td>
                    <td>{{equipment.vendor}}</td>
                    <td>{{equipment.price}}</td>
                    <td>{{equipment.createTime}}</td>
                    <td>{{equipment.inputOperator}}</td>
                    <td>{{equipment.lastModifiedTime}}</td>
                    <td>{{equipment.lastModifier}}</td>
                    <td>
                        <a ui-sref="dictionary-detail({id:equipment.categoryId})">{{equipment.categoryName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="equipment-detail({id:equipment.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="equipment.edit({id:equipment.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="equipment.delete({id:equipment.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
