
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMeetingLabel" data-translate="yiyingOaApp.meeting.home.createOrEditLabel">Create or edit a Meeting</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.meeting.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.meeting.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.meeting.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.meeting.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.meeting.startTime" for="field_startTime">Start Time</label>
            <input type="number" class="form-control" name="startTime" id="field_startTime"
                    ng-model="vm.meeting.startTime"
                    required />
            <div ng-show="editForm.startTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.startTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.startTime.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.meeting.endTime" for="field_endTime">End Time</label>
            <input type="number" class="form-control" name="endTime" id="field_endTime"
                    ng-model="vm.meeting.endTime"
                    required />
            <div ng-show="editForm.endTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.endTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.endTime.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.meeting.info" for="field_info">Info</label>
            <input type="text" class="form-control" name="info" id="field_info"
                    ng-model="vm.meeting.info"
                     />
        </div>

        <div class="form-group">
            <label data-translate="yiyingOaApp.meeting.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" ng-model="vm.meeting.creatorId" ng-options="employee.id as employee.id for employee in vm.employees"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="yiyingOaApp.meeting.room" for="field_room">Room</label>
            <select class="form-control" id="field_room" name="room" ng-model="vm.meeting.roomId" ng-options="room.id as room.id for room in vm.rooms"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="yiyingOaApp.meeting.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.meeting.projectId" ng-options="project.id as project.id for project in vm.projects"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
