
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRoleLabel" data-translate="yiyingOaApp.role.home.createOrEditLabel">Create or edit a Role</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.role.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.role.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.role.createTime" for="field_createTime">Create Time</label>
            <input type="number" class="form-control" name="createTime" id="field_createTime"
                    ng-model="vm.role.createTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.role.lastModifiedTime" for="field_lastModifiedTime">Last Modified Time</label>
            <input type="number" class="form-control" name="lastModifiedTime" id="field_lastModifiedTime"
                    ng-model="vm.role.lastModifiedTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.role.auths" for="field_auths">Auths</label>
            <input type="text" class="form-control" name="auths" id="field_auths"
                    ng-model="vm.role.auths"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.role.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.role.name"
                     />
        </div>

        <div class="form-group">
            <label data-translate="yiyingOaApp.role.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" ng-model="vm.role.creatorId" ng-options="employee.id as employee.id for employee in vm.employees"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="yiyingOaApp.role.lastModifier" for="field_lastModifier">Last Modifier</label>
            <select class="form-control" id="field_lastModifier" name="lastModifier" ng-model="vm.role.lastModifierId" ng-options="employee.id as employee.id for employee in vm.employees"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
