
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNoticeChatLabel" data-translate="yiyingOaApp.noticeChat.home.createOrEditLabel">Create or edit a Notice Chat</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.noticeChat.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.noticeChat.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.noticeChat.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.noticeChat.text"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="yiyingOaApp.noticeChat.createTime" for="field_createTime">Create Time</label>
            <input type="number" class="form-control" name="createTime" id="field_createTime"
                    ng-model="vm.noticeChat.createTime"
                     />
        </div>

        <div class="form-group">
            <label data-translate="yiyingOaApp.noticeChat.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" ng-model="vm.noticeChat.creatorId" ng-options="employee.id as employee.id for employee in vm.employees"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="yiyingOaApp.noticeChat.notice" for="field_notice">Notice</label>
            <select class="form-control" id="field_notice" name="notice" ng-model="vm.noticeChat.noticeId" ng-options="notice.id as notice.id for notice in vm.notices"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
