
<div>
    <h2><span data-translate="yiyingOaApp.notice.detail.title">Notice</span> {{vm.notice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="yiyingOaApp.notice.subject">Subject</span></dt>
        <dd>
            <span>{{vm.notice.subject}}</span>
        </dd>
        <dt><span data-translate="yiyingOaApp.notice.expireTime">Expire Time</span></dt>
        <dd>
            <span>{{vm.notice.expireTime}}</span>
        </dd>
        <dt><span data-translate="yiyingOaApp.notice.content">Content</span></dt>
        <dd>
            <span>{{vm.notice.content}}</span>
        </dd>
        <dt><span data-translate="yiyingOaApp.notice.createTime">Create Time</span></dt>
        <dd>
            <span>{{vm.notice.createTime}}</span>
        </dd>
        <dt><span data-translate="yiyingOaApp.notice.project">Project</span></dt>
        <dd>
            <a ui-sref="project-detail({id:vm.notice.projectId})">{{vm.notice.projectId}}</a>
        </dd>
        <dt><span data-translate="yiyingOaApp.notice.creator">Creator</span></dt>
        <dd>
            <a ui-sref="employee-detail({id:vm.notice.creatorId})">{{vm.notice.creatorId}}</a>
        </dd>
        <dt><span data-translate="yiyingOaApp.notice.depts">Depts</span></dt>
        <dd>
            <span ng-repeat="depts in vm.notice.depts">
                <a ui-sref="dept-detail({id: depts.id})">{{depts.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="yiyingOaApp.notice.projects">Projects</span></dt>
        <dd>
            <span ng-repeat="projects in vm.notice.projects">
                <a ui-sref="project-detail({id: projects.id})">{{projects.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="yiyingOaApp.notice.employees">Employees</span></dt>
        <dd>
            <span ng-repeat="employees in vm.notice.employees">
                <a ui-sref="employee-detail({id: employees.id})">{{employees.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="notice-detail.edit({id:vm.notice.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
